## 청라, 송도지역 미세먼지 측정값 스크래핑
> 1. 송도 = http://air.incheon.go.kr/airinch/real3.html?area_other_index=999992
> 1. 청라 = http://air.incheon.go.kr/airinch/real3.html?area_other_index=999991

* Todo: 계측 센서 갯수가 다르므로 필터링 방식이 달라져야 한다
* 송도 = 6개 / 청라 = 4개

In [1]:
"""
* 청라, 송도지역 미세먼지 측정값 스크래핑
"""

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import openpyxl as opx

In [2]:
# 한글 깨짐현상 해결하기 - 구글검색: 파이썬 그래프 한글 깨짐
# matplotlib에서 한글 표현하기 (블로그) = https://pinkwink.kr/956

from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

In [3]:
IN_XLSX = "../_static/2018_1Q_air_all.xlsx"
OUT_XLSX = "../_static/2018_1Q_air_songdo.xlsx"

In [4]:
air_all = pd.read_excel(IN_XLSX, sheet_name=0)

In [8]:
air_all.columns=[
    'Location', 
    'Uid', 
    'name', 
    'Time', 
    'SO2', 
    'CO', 
    'O3', 
    'NO2', 
    'PM10', 
    'PM25', 
    'Address',
]

In [9]:
air_all.head()

,Location,Uid,name,Time,SO2,CO,O3,NO2,PM10,PM25,Address
0,서울 중구,111121,중구,2018010101,0.004,0.5,0.020,0.020,34.0,19.0,서울 중구 덕수궁길 15
1,서울 중구,111121,중구,2018010102,0.004,0.4,0.024,0.016,27.0,14.0,서울 중구 덕수궁길 15
2,서울 중구,111121,중구,2018010103,0.004,0.4,0.018,0.022,26.0,14.0,서울 중구 덕수궁길 15
3,서울 중구,111121,중구,2018010104,0.004,0.5,0.010,0.030,26.0,15.0,서울 중구 덕수궁길 15
4,서울 중구,111121,중구,2018010105,0.004,0.6,0.011,0.029,28.0,16.0,서울 중구 덕수궁길 15