## Air.csv collector in one file
- 
-

In [1]:
import os
import glob
import pandas as pd

# 1.1 중복되는 Row 삭제하기
`df1a = df1.drop_duplicates(subset=['A', 'B', 'C'], keep='first')`
1. 서브셋 A,B,C 가 모두 동일하면, 처음 데이터를 남기고 나머지는 삭제한다.
1. 인덱스는 UID 이기 때문에 인텍스 기준으로 서브셋을 설정하면, 중복데이터 삭제 됨

In [2]:
# 테스트! = 중복되는 Rows 첫번째 데이터를 남기고 삭제하기 Keep='first', 'last'
# Keep=False 인경우는 중복되는것은 아예 삭제하고 남기지 않는다.

df_array = {
    "A":["foo", "foo", "foo", "bar", "foo"], 
    "B":[0,1,1,1,0], 
    "C":["A","A","B","A", "A"],
}

df1 = pd.DataFrame(df_array)
df1

#   A	B	C
# 0	foo	0	A
# 1	foo	1	A
# 2	foo	1	B
# 3	bar	1	A

     A  B  C
0  foo  0  A
1  foo  1  A
2  foo  1  B
3  bar  1  A
4  foo  0  A

In [3]:
# 서브셋 A,B,C 가 모두 동일하면, 처음 데이터를 남기고 나머지는 삭제한다.
# 인덱스는 UID 이기 때문에 인텍스 기준으로 서브셋을 설정하면, 중복데이터 삭제됨
df1a = df1.drop_duplicates(subset=['A', 'B', 'C'], keep='first')
df1a

     A  B  C
0  foo  0  A
1  foo  1  A
2  foo  1  B
3  bar  1  A

# 1.2 -

# 1.3 -

# 1.4 -

# 1.5 -